* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: black;
  color: red;
  font-family: 'Share Tech Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: bgFlash 0.8s infinite;
}

.container {
  background: #111;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 80px red;
  animation: flicker 0.4s infinite;
}

textarea {
  width: 100%;
  height: 100px;
  background: #000;
  color: red;
  border: 2px solid red;
  padding: 10px;
  font-size: 14px;
}

button {
  margin-top: 15px;
  padding: 12px 25px;
  background: red;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: darkred;
}

#tampilanPesan {
  margin-top: 20px;
  font-size: 18px;
  animation: shake 0.3s infinite;
}

.popup {
  position: fixed;
  background: red;
  color: black;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 0 40px red;
  animation: shake 0.3s infinite;
  z-index: 9999;
}

@keyframes shake {
  0% { transform: translate(0); }
  25% { transform: translate(5px); }
  50% { transform: translate(-5px); }
  75% { transform: translate(5px); }
  100% { transform: translate(0); }
}

@keyframes flicker {
  0%,100% { opacity: 1; }
  50% { opacity: 0.7; }
}

@keyframes bgFlash {
  0%,100% { background: black; }
  50% { background: #300; }
}
